pymongo
dotenv
pinecone
pinecone-client
sentence-transformers
docx
youtube-transcript-api
transformers
langchain
langchain-community
langchainhub
langchain-google-genai
langchain-core
jupyter_client
jupyter_core
regex
python-docx

